---
import Layout from "../../layouts/Layout.astro";
import CardBlog from "../../components/CardBlog.astro";

let allPosts = await Astro.glob('../../data/blog-posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());

---

<Layout title="Blog">
  <main>
    <div class="container">
      {allPosts.map((post) => {
        return(
          <CardBlog post={post} />
          )
      })}
    </div>
  </main>
</Layout>
<style>
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  @media (min-width: 700px) {
    .container {
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>