:root {
  --color-primario: #0075ff;
  --fuente-principal: "Inter", sans-serif;
  --color-secundario: #d9d9d9;
  --color-terciario: #333333;
  --background-color: #fafafa;
  --text-main: #333;
  --color-fuente: #000000;
  --color-icono-sol: #000000;
  --color-icono-luna: #7d7d7d;
  --color-card: #d9d9d9;
}

:root.theme-dark {
  --background-color: #252525;
  --text-main: #fff;
  --color-fuente: hsl(0, 100%, 99%);
  --color-icono-sol: #fff;
  --color-card: #3f3f3f;

  /* --text-secondary: #ccc;
    --primary-color: #548e9b; */
}

body {
  background-color: var(--background-color);
  color: var(--text-main);
  font-family: var(--fuente-principal);
  font-size: 1.125em;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

img {
  max-width: 100%;
  height: auto;
}

.theme-toggle {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0.33em 0.67em;
  padding-top: 8px;
  margin-left: 10px;
  gap: 0.6em;
  border-radius: 99em;
  background-color: var(--theme-code-inline-bg);
}

.theme-toggle > label:focus-within {
  outline: 2px solid transparent;
  box-shadow: 0 0 0 0.08em var(--theme-accent), 0 0 0 0.12em white;
}

.theme-toggle > label {
  color: var(--color-icono-luna);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  cursor: pointer;
}

.theme-toggle .checked {
  color: var(--color-icono-sol);
  opacity: 1;
}

input[name="theme-toggle"] {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

code {
  font-family: "SF Mono", menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  padding: 0.2em 0.4em;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  border-radius: 8px !important;
  margin: 1.2em 0 !important;
  padding: 1.2em;
}

pre code {
  padding: 0;
}

blockquote {
  border-left: 4px solid #cccccc;
  font-size: 1.4em;
  font-style: italic;
  margin: 2rem 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

blockquote p {
  padding-bottom: 6px;
}

blockquote footer {
  font-size: 1.1rem;
  text-align: right;
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

table {
  border-collapse: collapse;
  font-family: var(--font-family-sans);
  font-size: 1.125em;
  margin: 2em 0;
}

th {
  border-bottom: 2px solid #cccccc;
  padding: 0.4em 0.8em;
}

td {
  padding: 0.4em 0.8em;
}
