:root {
  --color-primario: #0075ff;
  --fuente-principal: "Inter", sans-serif;
  --color-secundario: #d9d9d9;
  --color-terciario: #333333;
  --background-color: #fafafa;
  --text-main: #333;
  --color-fuente: #000000;
  --color-icono-sol: #000000;
  --color-icono-luna: #7d7d7d;
  --color-card: #d9d9d9;
}

:root.theme-dark {
  --background-color: #252525;
  --text-main: #fff;
  --color-fuente: hsl(0, 100%, 99%);
  --color-icono-sol: #fff;
  --color-card: #3f3f3f;

  /* --text-secondary: #ccc;
    --primary-color: #548e9b; */
}

.theme-toggle {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0.33em 0.67em;
  padding-top: 8px;
  margin-left: 10px;
  gap: 0.6em;
  border-radius: 99em;
  background-color: var(--theme-code-inline-bg);
}

.theme-toggle > label:focus-within {
  outline: 2px solid transparent;
  box-shadow: 0 0 0 0.08em var(--theme-accent), 0 0 0 0.12em white;
}

.theme-toggle > label {
  color: var(--color-icono-luna);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  cursor: pointer;
}

.theme-toggle .checked {
  color: var(--color-icono-sol);
  opacity: 1;
}

input[name="theme-toggle"] {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
