---
import Layout from "../layouts/Layout.astro";
import CardBlog from "../components/CardBlog.astro";
const posts = [
  {
    id: 1,
    name: "Nombre del articulo 12",
    descripcion: "lorem10",
    imgUrl: "/llama.png",
    url: "https://www.youtube.com/watch?v=6yJYn6n4NWo&list=RD2qf9UtU6ggU&index=17",
  },
  {
    id: 2,
    name: "Nombre del articulo 24",
    descripcion: "",
    imgUrl: "/llamita.jpeg",
    url: "",
  },
  {
    id: 3,
    name: "Nombre del articulo 35",
    descripcion: "",
    imgUrl: "/llamita.jpeg",
    url: "",
  },
  {
    id: 4,
    name: "Nombre del articulo 35",
    descripcion: "",
    imgUrl: "/llamita.jpeg",
    url: "",
  },
];
---

<Layout title="Blog">
  <main>
    <div class="container">
      {posts.map((post) => <CardBlog lab={post} />)}
    </div>
  </main>
</Layout>
<style>
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 700px) {
    .container {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }
</style>
