---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aonitech">
  <main>
    <div class="contenedor">
      <h1>Your place to build things</h1>
      <div class="button-container">
        <a href="/lab" class="buttom-main">Discover</a>
      </div>
      
    </div>
  </main>
</Layout>

<style>
  * {
    margin: 0;
    padding: 0;
  }
  main {
    height: 100vh;
  }
  .contenedor {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }
  .contenedor h1 {
    font-family: var(--fuente-principal);
    padding-bottom: 40px;
    padding-top: 40px;
    font-size: 75px;
  }
  .button-container {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 60px;
  }
  .button-container a {
    text-decoration: none;
    padding: 15px 40px;
    font-size: 14px;
    font-family: var(--fuente-principal);
    font-weight: 600;
    border-radius: 5px;
  }
  .buttom-main {
    background-color: var(--color-primario);
    color: white;
  }

  .buttom-main:hover {
    background-color: var(--color-terciario);
  }

  @media (min-width: 700px) {
    .contenedor h1 {
      padding-top: 180px;
      text-align: center;
    }
    .button-container {
      justify-content: center;
    }

    .button-container a {
      padding: 15px 40px;
      font-size: 20px;
    }
  }
  
  
</style>
