---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aonitech">
  <main>
    <div class="contenedor">
      <h1>Your place to build things</h1>
      <div>
        <a href="/lab" class="buttom-main">Discover</a>
      </div>
      
    </div>
  </main>
</Layout>

<style>
  * {
    margin: 0;
    padding: 0;
  }
  main {
    height: 100vh;
  }
  .contenedor {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
  }
  .contenedor h1 {
    font-family: var(--fuente-principal);
    text-align: center;
    padding-bottom: 60px;
    padding-top: 180px;
    font-size: 45px;
  }
  .contenedor a {
    text-decoration: none;
    padding: 10px 15px;
    font-size: 14px;
    font-family: var(--fuente-principal);
    font-weight: 600;
    border-radius: 4px;
  }
  .buttom-main {
    background-color: var(--color-primario);
    color: white;
  }

  .buttom-main:hover {
    background-color: var(--color-terciario);
  }

  @media (min-width: 700px) {
    .contenedor h1 {
      font-size: 70px;
    }
    .contenedor a {
    padding: 15px 30px;
    font-size: 20px;}
  }
  
  
</style>
