---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aonitech">
  <main>
    <div class="contenedor">
      <h1>Your place to build things</h1>
      <a href="/lab" class="boton-main">Descubre</a>
    </div>
  </main>
</Layout>

<style>
  * {
    margin: 0;
    padding: 0;
  }
  main {
    height: 70vh;
  }
  .contenedor {
    width: 100%;
    margin: auto;
    text-align: center;
    margin: 100px 0px;
    padding-top: 20px;
  }
  .contenedor a {
    background-color: var(--color-primario);
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;

    font-family: var(--fuente-principal);
    font-weight: 600;
    border-radius: 4px;
  }
  .contenedor h1 {
    font-family: var(--fuente-principal);
    text-align: center;
    margin: 100px 0px;
    font-size: 60px;
  }
</style>
