<div>
  <div class="container-blog">
    <div><img src="/llama.png" alt="" /></div>
    <div class="titulo-blog">
      <h2>Titulo del post</h2>
      <p>Descripcion del post</p>
      <div>
        <a
          href="https://www.youtube.com/watch?v=YSV0bsXb74Q&list=RDGMEMFDHdtbQF5jLxlUZMleBN_wVMy8rBC6GCUjg&index=9"
          >link</a
        >
      </div>
    </div>
  </div>
</div>

<style>
  .container-blog {
    width: 582px;
    height: 656px;
    background-color: var(--color-secundario);
    font-family: var(--fuente-principal);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    position: relative;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow:
      20px 20px 60px #bebebe,
      -20px -20px 60px #ffffff;
  }

  .container-blog img {
    padding-top: 20px;
    height: 376px;
    width: 532px;
    border-radius: 5px;
  }
  .titulo-blog {
    font-size: 36px;
  }
</style>
