<div>
  <div class="container-blog">
    <div><img src="/llama.png" alt="" /></div>
    <div class="titulo-blog">
      <h2>Titulo del post</h2>
      <p>Descripcion del post</p>
      <div class="btn-container">
        <div class="btn-blog">
          <div>
          <a
            class="btn"
            href="https://www.youtube.com/watch?v=YSV0bsXb74Q&list=RDGMEMFDHdtbQF5jLxlUZMleBN_wVMy8rBC6GCUjg&index=9"
            >link
          </a>
         </div>
          <div class="box-img" > <img src="./yo.jpeg" alt="">
            <h3>Nombre Autor</h3></div>
    
        
         
        
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .container-blog {
  padding: 20px;
  background-color: var(--color-secundario);
  font-family: var(--fuente-principal);
  align-items: center;
  border-radius: 20px;
  background: #d9d9d9;
  margin-bottom: 20px;
   
   /*  box-shadow: 5px 5px 70px #bebebe;
    /*  -5px -5px 5px #ffffff; */ */
  } 

  .container-blog img {
  width: 100%;
  border-radius: 5px;
  }
  .titulo-blog h2 {
  font-size: 36px;
  padding-bottom: 20px;
  }

  .titulo-blog p {
  padding-bottom: 20px;
  font-size: 20px;
  }

  /* .btn-blog {
    padding: 10px 25px;
    justify-content: center;
    background-color: var(--color-primario);
    border-radius: 5px;
  } */
  .btn {
  font-size: 16px;
  color: white;
  padding: 10px 45px;
  border-radius: 5px;
  background-color: var(--color-primario);
  }

  .btn-container {
  display: flex;
  }

  .btn-blog {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  }
.box-img img{
 border-radius: 50%;
 height: 40px;
 width: 40px;
 object-fit: cover;
}
.box-img{
display: flex;
align-items: center;
gap: 10px;
}
.box-img h3{
font-size: 13px;
}
</style>
