<div>
  <div class="container-blog">
    <div><img src="/llama.png" alt="" /></div>
    <div class="titulo-blog">
      <h2>Titulo del post</h2>
      <p>Descripcion del post</p>
      <div class="btn-container">
        <div class="btn-blog">
          <a
            href="https://www.youtube.com/watch?v=YSV0bsXb74Q&list=RDGMEMFDHdtbQF5jLxlUZMleBN_wVMy8rBC6GCUjg&index=9"
            >link
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .container-blog {
    padding: 20px;
    background-color: var(--color-secundario);
    font-family: var(--fuente-principal);
    align-items: center;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow:
      20px 20px 60px #bebebe,
      -20px -20px 20px #ffffff;
  }

  .container-blog img {
    width: 100%;
    border-radius: 5px;
  }
  .titulo-blog {
  }

  .titulo-blog h2 {
    font-size: 36px;
    padding-bottom: 20px;
  }

  .titulo-blog p {
    padding-bottom: 20px;
    font-size: 20px;
  }

  .btn-blog {
    padding: 10px 25px;
    justify-content: center;
    background-color: var(--color-primario);
    border-radius: 5px;
  }
  .btn-blog a {
    color: white;
  }
  .btn-container {
    display: flex;
  }
</style>
