<footer>
  <nav>
    <a href="/lab">Lab</a>
    <a href="/blog">Blog</a>
    <a href="#">Video</a>
  </nav>
</footer>

<style>
  footer {
    background-color: #353535;
    justify-content: center;
    height: 16vh;
    display: flex;
    align-items: center;
    font-family: var(--fuente-principal);
  }
  nav a {
    color: white;
  }

  nav {
    display: flex;
    gap: 20px;
    font-size: 20px;
  }
</style>
