---
import ThemeToggleButton from './ThemeToggleButton.svelte';
const { current = '' } = Astro.props;
---

<header>
    <div class="logo">
      <h1><a href="/">Aonitech</a></h1>
    </div>
    
    <nav class="nav">
      <a href="/lab">lab</a>
      <a href="/blog">blog</a>
      <a href="/video">video</a>
      <ThemeToggleButton client:load />
    </nav>
  </header>

  <style>

    header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 10px;
  }
  .logo h1 a {
    font-family: var(--fuente-principal);
    color: black;
  }
  .nav {
    display: flex;
    gap: 1rem;
  }

  .nav a {
    color: #353535;
    font-family: var(--fuente-principal);
    font-weight: 600;
  }
  </style>